// fonts
@import "fonts"
$font-family-sans-serif: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default
$font-family-monospace: 'DX-Rigraf', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default
$font-family-base: $font-family-sans-serif
$font-family-monospace: $font-family-monospace

// my custom styles
$bg-over-cover: #030118

.white-border, .wb
  border: 1px solid rgba(255, 255, 255, 0.2)
  border-radius: 8px

@mixin top-gradient
  background: radial-gradient(100.06% 120.49% at 50% -20.49%, rgba(255, 255, 255, 0.9) 0%, rgba(113, 61, 255, 0.9) 32.82%, rgba(0, 0, 0, 0) 78.46%)

@mixin bottom-gradient
  background: radial-gradient(91.53% 133.1% at 50% 133.1%, rgba(255, 255, 255, 0.9) 0%, rgba(113, 61, 255, 0.9) 32.82%, rgba(0, 0, 0, 0) 78.46%)

// Configuration
@import "node_modules/bootstrap/scss/functions"
@import "node_modules/bootstrap/scss/variables"
@import "node_modules/bootstrap/scss/variables-dark"
@import "node_modules/bootstrap/scss/maps"
@import "node_modules/bootstrap/scss/mixins"
@import "node_modules/bootstrap/scss/utilities"
@import "node_modules/bootstrap/scss/root"

@import "node_modules/bootstrap/scss/reboot"

// Global layout
body
  font-family: $font-family-base
  background-color: #040119 !important
  &.is-sidebar-opened
    #__nuxt
      background: #030118
#__nuxt
  display: flex
  min-height: 100vh
  flex-direction: column
header
  height: 70px
main
  flex: 1
  > .container
    padding: 5rem 1.5rem 0
body.is-main-page
  @include top-gradient

// Responsive and common styles
.over-cover
  background: $bg-over-cover
.navbar-container
  flex-direction: row
  @include media-breakpoint-down(lg)
    flex-direction: column !important
.nav-custom
  display: flex
  justify-content: space-between
  flex-direction: row
  margin-right: auto
  @include media-breakpoint-down(lg)
    order: -1
    margin-right: 0 !important
    width: 100%
    padding-bottom: 2rem
.navbar-container
  display: flex
  @include media-breakpoint-down(lg)
    padding: 2.2rem 0 0
.main-button
  width: auto
  @include media-breakpoint-down(lg)
    width: 100% !important
    margin-top: 1rem
.nav-custom
  &__graph
    margin-right: 1.5rem
    @include media-breakpoint-down(xl)
      margin-right: 0.5rem
footer
  @include bottom-gradient
  @include media-breakpoint-down(lg)
    padding-top: 40px
  .fl
    &__top
      @include media-breakpoint-down(lg)
        padding: 0 16px !important
    &__bottom
      @include media-breakpoint-down(lg)
        padding: 24px 16px 40px 16px !important

// Predefined variables

// Gradient
$gradient: linear-gradient(180deg, rgba($white, 0), rgba($white, 1), rgba($white, 0.02))

// Navbar
$navbar-dark-brand-color: $white
$navbar-brand-font-size: 1.5rem
//$navbar-dark-active-color: red
$nav-link-font-size: 1rem
$nav-link-font-weight: 300
//$navbar-dark-active-color: green
//$nav-link-color: $white
//$navbar-dark-active-color: $white
//$navbar-hover-color: $white
.navbar-brand
  font-weight: 600

.nav-link
  --bs-nav-link-color: $white
  --bs-navbar-active-color: $white
  &.active
    font-weight: 500
  &:hover,&.active
    text-decoration: underline

//--bs-navbar-active-weight: $white

  //--bs-navbar-color: black
  //--bs-nav-link-color: black
  //--bs-link-hover-color-rgb: red

// Buttons
$btn-padding-y: 0.5rem
$btn-padding-x: 1.5rem
$btn-border-radius: 5rem
$btn-line-height: 1.5rem
$btn-font-size: 1rem
$btn-border-width: 1px

//$border-width: 0

.btn
  --bs-btn-border-color: rgba(255, 255, 255, 0.2) !important

.btn-cpink
  box-shadow: 0 0 1rem -0.25rem #713DFF
  backdrop-filter: blur(0.75rem)
  background-image: linear-gradient(rgb(249, 90, 204) 0%, rgba(113, 61, 255, 0) 100%)
  background-color: rgba(255, 255, 255, 0.02) !important
  background-origin: border-box
  background-repeat: repeat-x !important
  border-color: rgba(255, 255, 255, 0.2)
  border-style: solid
  //border-width: 1px !important
  height: 100%
  //&:hover,&:active
  //  background-image: linear-gradient(rgba(249, 90, 204, 1) 0%, rgba(113, 61, 255, 0) 100%)

// Layout & components
@import "node_modules/bootstrap/scss/type"
@import "node_modules/bootstrap/scss/images"
@import "node_modules/bootstrap/scss/containers"
@import "node_modules/bootstrap/scss/grid"
@import "node_modules/bootstrap/scss/tables"
@import "node_modules/bootstrap/scss/forms"
@import "node_modules/bootstrap/scss/buttons"
@import "node_modules/bootstrap/scss/transitions"
@import "node_modules/bootstrap/scss/dropdown"
@import "node_modules/bootstrap/scss/button-group"
@import "node_modules/bootstrap/scss/nav"
@import "node_modules/bootstrap/scss/navbar"
@import "node_modules/bootstrap/scss/card"
@import "node_modules/bootstrap/scss/accordion"
@import "node_modules/bootstrap/scss/breadcrumb"
@import "node_modules/bootstrap/scss/pagination"
@import "node_modules/bootstrap/scss/badge"
@import "node_modules/bootstrap/scss/alert"
@import "node_modules/bootstrap/scss/progress"
@import "node_modules/bootstrap/scss/list-group"
@import "node_modules/bootstrap/scss/close"
@import "node_modules/bootstrap/scss/toasts"
@import "node_modules/bootstrap/scss/modal"
@import "node_modules/bootstrap/scss/tooltip"
@import "node_modules/bootstrap/scss/popover"
@import "node_modules/bootstrap/scss/carousel"
@import "node_modules/bootstrap/scss/spinners"
@import "node_modules/bootstrap/scss/offcanvas"
@import "node_modules/bootstrap/scss/placeholders"

// Helpers
@import "node_modules/bootstrap/scss/helpers"

// Utilities
@import "node_modules/bootstrap/scss/utilities/api"
